.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
}

.file-upload-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}


input[type="text"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    width: 60%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20%;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* .success-message {
    text-align: center;
    margin: 10px;
} */

.success-message {
    margin-top: 15px; 
    color: green; 
    font-weight: bold;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}